<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Upload New Script</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    	<div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">Wiki Studios</a>
        </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<ul class="nav navbar-nav navbar-right">
            	<li>
                	<a id="modal_trigger" href="#modal" class="btn">Register / Log In</a>
            	</li>
        	</ul>
    	</div>
	</nav>
	
	<h1>Upload A New Script</h1>
	<div class="container">
		<%= form_for @script do |f| %>
			<%= f.label :title %>:
			<%= f.text_field :scriptname %>
			<br><br>
			<%= f.label :author %>:
			<%= f.text_field :authorid %>
			<br><br>
			<%= f.label :genre %>:
			<%= f.text_field :genre %>	
			<br><br>
			<%= f.label :summary %>:
			<%= f.text_area :summary %>	
			<br><br>
			<%= f.label :production_notes %>:
			<%= f.text_area :notes %>
			<br><br>
			<%= f.submit %>
		<% end %>
	</div>
</body>	
</html>