<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            <h4><%= link_to "Wiki Studio",  controller: "scripts", action: "index", class: "navbar-brand topnav" %></h4>

        </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
</nav>

<br></br>
<br></br>
<div class="videoDiv">
  <% if @vids.empty? %>
    <h2 style="margin-left: 35px; color: white;"><%= @script.scriptname %></h2>
    <div id="video_container">
      <%= video_tag [], :size => "480x480", :controls => true, :autobuffer => true, :poster => 'screenshot.png' %>
    </div>         
  <% else %>
    <div>
      <h2 style="margin-left: 35px; color: white; display: inline-block"><%= @script.scriptname %></h2>
      <p style="float: right; color: white; margin-right:2%; margin-top:2%; font-size: 25px;">Playlist<p>
    </div>  
    <figure id="video_player">
      <div id="video_container">
        <%= video_tag [@vids.first.video.url], :controls => true, :autobuffer => true %>
      </div>
      <figcaption>
        <% @vids.each do |vid| %>
          <%= link_to image_tag("scene"+vid.scene.sceneNumber.to_s+".png"), vid.video.url %>
        <% end %>
      </figcaption>
    </figure>
  <% end %>
  <br></br>
  <div class="scene-buttons-container">
    <% @scenes.each do |s| %>
      <% if s.numOfVids == 0 %>
        <%= link_to "Scene "+s.sceneNumber.to_s, script_scene_path(@script, s), class: "scene_buttons_white",
      :onclick=>"window.open(this.href,'popUpWindow', 'height=600,width=600,left=300,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');return false;" %>
      <% else %>
        <%= link_to "Scene "+s.sceneNumber.to_s, script_scene_path(@script, s), class: "scene_buttons_blue_dark",
      :onclick=>"window.open(this.href,'popUpWindow', 'height=600,width=600,left=300,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');return false;" %>
      <% end %>
    <% end %>
  </div>
</center>
</div>

<div class="box"><h3>Plot</h3>
  <p><%= @script.summary%></p>
</div>
<br>
<div class="box"><h3>Production Notes</h3>
  <p><%= @script.notes%></p>
</div>
<br></br>

<br></br>
<br></br>

<!--DIV for comments-->
<div id="commentbox">
<h2 style="color:white;">Comments</h2>
<% @script.comments.each do |comment| %>
    <div id="comment">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
        </div>
<% end %>
            </div>
 
<div style="margin-left:2%;">
<h3>Add a comment:</h3>
<%= form_for([@script, @script.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 </div>

<!--Code for video playlist. Adapted from http://demosthenes.info/blog/792/Create-A-Simple-HTML5-Video-Playlist-->
<script type="text/javascript">
  
  var video_player = document.getElementById("video_player");
  var video = video_player.getElementsByTagName("video")[0];
  var video_links = video_player.getElementsByTagName("figcaption")[0];
  var currentVid = 0;
  var link_list = [];
  var allLnks = video_links.children;
  var lnkNum = allLnks.length;
  video_links.children[0].classList.add("currentvid");

  function playVid(index) {
      video_links.children[index].classList.add("currentvid");
      video.src = link_list[index];
      currentVid = index;
      video.load();
      video.play();
  }
  
  for (var i=0; i<lnkNum; i++) {
    link_list[i] = allLnks[i].href;
    (function(index){
      allLnks[i].onclick = function(i){
        i.preventDefault();
        for (var i=0; i<lnkNum; i++) {
          allLnks[i].classList.remove("currentvid");
        }     
        playVid(index);
      }
    })(i);
  }

  video.addEventListener('ended', function () {
    allLnks[currentVid].classList.remove("currentvid");
    if ((currentVid + 1) >= lnkNum) { nextVid = 0 } else { nextVid = currentVid+1 }
      playVid(nextVid);
  });
</script>
