<h2><%= @script.scriptname %> - Scene <%= @scene.sceneNumber %></h2>
<div class="action-button">
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Print Script</button>
	<%= link_to "Upload Video", new_script_scene_clip_path(@script,@scene), class: "btn btn-default btn-sm" %>
</div>
<br>
<br>
<h4>Setting Guidelines</h4>
<p><%= @scene.settingGuideline %></p>
<h4>Character Guidelines</h4>
<p><%= @scene.characterGuideline %></p>
<br><br>
<p><%= simple_format(@scene.sceneText) %></p>